{# templates/about.html.twig #}
{% extends "report/default.html.twig" %}

{% block title %} MVC {% endblock %}

{% block body %} 
<h1>Det här är min rapport sida i kursen MVC</h1>
{% endblock body %}

{% block article %} 

{% endblock article %}